
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录设置</title>
</head>
<body>
<h1  style="text-align:center">欢迎进入交易流程系统,请先登录</h1>

<form action="/loginOn" method="post">
    <table  style="text-align:center">
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">登录</button></td>
        </tr>
    </table>
</form>



</body>
</html>